/* #root {
  text-align: center;
  display: flex;
  justify-content: center;
} */

.uber-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3 {
  height: 5vh;
}

/* .board {
  animation: App-logo-spin infinite 20s linear;
} */
