.board {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  width: 11vw;
  height: 11vw;
  border: 1px solid black;
}

@media only screen and (max-width: 600px) {
    .board {
      width: 30vw;
      height: 30vw;
    }
}

.board-square {
  border: 1px solid black;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.large-square.board-square {
  font-size: 4rem;
}

.game-board {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  width: 33vw;
  height: 33vw;
  margin: 0 1rem;
}

@media only screen and (max-width: 600px) {
    .game-board {
      width: 90vw;
      height: 90vw;
    }
}
